.button {
    border: none;
    background-color: ;
    color:#3F704D;
    padding: 10px 30px;
    margin: 10px 30px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-family: "Pacifico", cursive;
    border-radius: 5px;
  }

.button:hover{
  background-color: #3F704D;
  color:#d8e5b5;
}