.hero-image{
    width: 60%;
}

.destination-image{
    width: 40%;
    max-height: 300px;
    border-radius: 50px;
    border: 2px solid #2d324e;
}

.main-image{
    max-height: 400px;
    border-radius: 30px;
    border: 2px solid #2d324e;
}